body {
	font-family: oxygen;
	overflow-x: hidden;
}

p {
	margin: 0;
	padding: 0;
}

.gray {
	color: gray;
}

ul li {
	color: gray;
	font-weight: bold;
	margin-bottom: 10px;
}

ul li:hover {
	color: red;
	transform: scale(1.25);
	cursor: pointer;
}

.f-12 {
	font-size: 12px;
}

.f-13 {
	font-size: 13px;
}

.f-14 {
	font-size: 14px;
}

.f-15 {
	font-size: 15px;
}
